#videoDiv {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 40%;
    transform: translateY(-50%);
    text-align: center;
}

#left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: none;
    height: 30%;
}

#right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: none;
    height: 30%;
}

#close {
    display: none;
    width: 5%;
    position: absolute;
    right: 1%;
}

#littleV {
    width: 320px;
    height: 240px;
    object-fit: fill;
}

#sharePage {
    display: none;
}

#openCamera {
    display: none;
}

#start {
    position: absolute;
    width: 375px;
    height: 667px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    /*opacity: 0.3;*/

}

#stop {
    position: absolute;
    width: 375px;
    height: 667px;
    text-align: center;
    background-color: #cccccc;
    opacity: 0.3;
    display: none;
}

#center {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);

}

.videoArr {
    width: 20px;
    height: 20px;
    position: absolute;
}

.myList {
    position: absolute;
}